@charset "utf-8"; 
/*all.css*/
/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

body	{font-size:10; color: #333;}

ul, ol	{list-style-type: none; }
a:link {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active {text-decoration: none; color: #000000; }
a:hover {text-decoration: none; color: #000000; }


/* .clearfix{*zoom:1;} */
.clearfix::before, .clearfix::after {
    display: block; 
    content: ""; 
    line-height: 0;
}
.clearfix::after {clear: both;}



/*************************************************************/
body{
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    /*align-items: center; /* 수직 가운데 정렬 */
    height: 100vh; /* 화면 높이의 100% */
}


body #wrap-main{
    /* background-color:#333; */
    width: 1000px;
    /* background-color: #000000; */
    
}
#wrap-head{
    width: 100%;
    /* position: relative;  부모기준에서 조정가능하게함 */
    /* background-color: aqua; */
    max-width: 940px;
    padding: 5px 0px;
    /* border-bottom: 2px #d2d2d2 solid; */
    margin: 0px auto;
    
}
#wrap-body{
    position: relative;
    width: 100%;
    max-width: 940px;
    /* background-color:blue; */
    margin: 0 auto;
}
#wrap-foot{
    width: 100%;
    /* background-color: aquamarine; */
    margin-top: 80px;
    
}
#wrap-body #wrap-side{
    /* background-color: antiquewhite; */
    float: left;
    width: 208px;
    padding: 20px 0px 0px 0px;
    
}
#wrap-body #wrap-main{
    /* background-color: coral; */
    float: right;
    width: 710px;

}
#wrap-body #top-title{
    height: 28px;
    /*background-color: crimson;*/
    padding:20px 0px;
    
}
#wrap-body #top-title h2{
    display: inline;
    vertical-align: bottom;
}