/*배너 css*/
.banner-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;

}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 최신 음악 배너 섹션 */
.banner-section h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-items: center;
}

.banner-item {
  width: 100%;
  max-width: 200px;
}

.banner-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.banner-item img:hover {
  transform: scale(1.05);
}

/* 페이지네이션 */
.pagination {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.pagination span {
  margin: 0 10px;
  cursor: pointer;
}

/* 광고 배너 섹션 */
.ad-banner {
  margin: 30px 0;
  text-align: center;
}

.ad-banner img {
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 인기 순위 리스트 */
.ranking-section h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 40px 0 20px;
}

.playlist {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.song-info {
  display: flex;
  align-items: center;
}

.song-cover {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 15px;
}

.song-details {
  display: inline-block;
}

.song-title {
  font-size: 1.1em;
  font-weight: 500;
}

.artist {
  font-size: 0.9em;
  color: #777;
}

.icon-container {
  text-align: center;
  /* 버튼들 가운데 정렬 */
  margin-top: 20px;
}

.icon-btn {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #e0e0e0;
  /* 기본 연회색 배경 */
  border: none;
  cursor: pointer;
  margin: 0 15px;
  border-radius: 50%;
  /* 둥근 버튼 */
  position: relative;
  transition: background-color 0.3s, transform 0.3s;
  /* 호버 시 배경색 및 크기 변화 */
}

.icon-btn:hover {
  background-color: #333;
  /* 호버 시 검정색 배경 */
  transform: scale(1.1);
  /* 살짝 커지는 효과 */
}




/* Plus 버튼 (+) */
.plus-btn::before,
.plus-btn::after {
  content: "";
  position: absolute;
  background-color: #333;
  transition: background-color 0.3s;
}

.plus-btn::before {
  width: 4px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.plus-btn::after {
  width: 24px;
  height: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.plus-btn:hover::before,
.plus-btn:hover::after {
  background-color: #fff;
  /* 호버 시 흰색으로 변경 */
}