/* 테이블 스타일 */
#playlist-table, #likes-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
    border: 1px solid #e0e0e0; /* 테두리를 가벼운 회색으로 */
    border-radius: 10px;
    overflow: hidden;
}

#playlist-table th, #likes-table th {
    background-color: #f0f0f0; /* 부드러운 배경색 */
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #ddd; /* 테두리 색상 약하게 */
    color: #333;
}

#playlist-table td, #likes-table td {
    padding: 15px;
    border-bottom: 1px solid #eee; /* 가벼운 하단 테두리 */
    text-align: center;
    vertical-align: middle;
}

#playlist-table td img, #likes-table td img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ddd; /* 이미지 테두리 */
}

.song-info {
    display: flex;
    align-items: center;
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.song-info div {
    margin-left: 15px;
}

.song-info p {
    margin: 0;
    font-size: 14px;
}

.song-info div p:first-child {
    font-weight: bold;
    color: #007bff; /* 제목을 파란색으로 강조 */
}

/* 버튼 스타일 */
#playlist-table button, #likes-table button {
    background-color: #007bff; /* 파란색 버튼 */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 추가 */
    transition: background-color 0.3s ease;
}

#playlist-table button:hover, #likes-table button:hover {
    background-color: #0056b3; /* 버튼 호버 시 어두운 파란색 */
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.action-buttons button {
    padding: 10px 20px;
    background-color: #28a745; /* 초록색 버튼 */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #218838; /* 호버 시 어두운 초록색 */
}


/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.pagination button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

.pagination button:hover {
    background-color: #ddd;
}
