@charset "utf-8";
.center-wrapper {
    height: 100vh; /* 전체 화면 높이 사용 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #f2f2f7; /* 배경색 설정 (원하는 색상으로 변경 가능) */
}


/* player.css */
body {

    /* 어두운 올리브 */
    margin: 0;
    padding: 0;

    /* 연한 그레이 */
    align-items: center;
}

.popup-player {
    display: flex;
    width: 725px;
    height: 450px;
    border: 1px solid #d1d1d6; /* 애플 스타일의 밝은 그레이 */
    border-radius: 20px; /* 애플 느낌을 위한 둥근 모서리 */
    overflow: hidden;
    background-color: #ffffff; /* 화이트 배경 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}


.player-left {
    flex: 1;
    background-color:ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-align: left;
    width: 100%;
    font-weight: bold;
    color: #558ABF;
    /* 파란색 */
}

.album-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    height: 100%; /* 부모 요소의 전체 높이 사용 */
    text-align: center;
}
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.album-art {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #717578;
    margin-top: 20px;
    /* 이미지를 수직 및 수평으로 완벽하게 가운데 배치 */
}


.track-details {
    margin-bottom: 20px; /* 앨범 아트 위의 텍스트와 여백 추가 */
    text-align: center;
}

.track-details h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
    color: #333333; /* 진한 그레이 */
}


.track-details p {
    font-size: 14px;
    color: #8e8e93; /* 애플 스타일의 연한 그레이 */
}

.like-icon {
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.like-icon.liked {
    color: #ff3b30; /* 애플 스타일의 빨간색 */
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-buttons button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #E7E9E7;
    /* 연한 그레이 */
}

.volume-control {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.volume-control input {
    margin-left: 10px;
    width: 100px;
    background-color: #6D7478;
    /* 어두운 회색 */
}


/* 재생목록 및 마이뮤직 스타일 유지 */
.playlist-right {
    flex: 1;
    padding: 10px;
    background-color: #f2f2f7; /* 애플 스타일의 배경색 */
    border-left: 1px solid #d1d1d6;
    display: flex;
    flex-direction: column;
    height: 95%;
    position: relative;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #050609;
    /* 검정 */
}

.tab-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
    border-bottom: 2px solid #8C999C;
    /* 연한 회색 */
}

.tab-header button {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: #007AFF;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.tab-header button.active {
    color: #007AFF;
    border-bottom: 2px solid #007AFF;
}

.tab-header button:hover {
    background-color: #E5E5EA;
}

.tab-content {
    display: none;
    flex-grow: 1;
    padding: 10px;
}

.tab-content.active {
    display: block;
}

.playlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    /* 최대 높이를 설정 */
    overflow-y: auto;  /* 강제로 스크롤바 표시 */
    /* 높이를 넘으면 스크롤 표시 */
    border: 1px solid #E0E0E5;
    border-radius: 8px;
    overflow-x: hidden; /* 가로 스크롤을 없앰 */
}

.playlist-controls {
    margin-bottom: 15px;
}

/* 중복곡 삭제 버튼 스타일 */


.playlist-content,
#my-music-content {
    flex-grow: 1;
    padding: 10px;

}

/* 체크박스와 글자 간격, 크기 조정 */
input[type="checkbox"] {
    margin-right: 12px;
    width: 23px;
    height: 23px;
    accent-color: #007aff; /* 애플 스타일의 파란색 */
    cursor: pointer;
}


/* 리스트 항목의 스타일 조정 */
.playlist li,
#my-music li {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease, transform 0.2s ease;
}


.playlist li:last-child {
    border-bottom: none;
}

.playlist li:hover,
#my-music li:hover {
    background-color: #e5e5ea; /* 애플 스타일의 hover 색상 */
    transform: translateY(-2px); /* 살짝 떠오르는 효과 */
}
.playlist li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    transform: scale(1.02); /* 살짝 확대되는 효과 */
    transition: transform 0.2s ease, background-color 0.2s ease;
}

/* 재생 아이콘 */
.playlist li:hover .play-icon {
    opacity: 1; /* 마우스 올렸을 때 재생 아이콘 표시 */
}
.play-icon {
    display: inline-block;
    margin-left: 0px;
    opacity: 0; /* 기본 상태에서는 보이지 않음 */
    transition: opacity 0.2s ease;
}



/* .playlist-footer,
.my-music-footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    height: 35px;
    width: 90%;

} */

.playlist-footer,
.my-music-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* 버튼 스타일 */
.playlist-controls button,
.playlist-footer button,
.my-music-footer button {
    background-color: #007aff; /* 애플 스타일의 파란색 */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.playlist-controls button:hover,
.playlist-footer button:hover,
.my-music-footer button:hover {
    background-color: #005fcc;
}

.footer-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3f3f41;
}

.footer-pagination p {
    color: #3F454C;
    margin: 0;
}

ul#my-music li {
    display: block;
    text-align: left;
    padding: 5px 0;
}

/* 텍스트 정렬 */
.playlist li div,
#my-music li div {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* 공간을 채워 제목과 가수를 정렬 */
}
.playlist li div p {
    margin: 0;
    font-size: 16px;
    font-weight: 500; /* 애플 스타일의 폰트 두께 */
    color: #333333; /* 진한 그레이 */
}

.playlist li div p + p {
    font-size: 14px;
    color: #8e8e93; /* 애플 스타일의 연한 그레이 */
    margin-top: 2px;
}


/* 리스트 스크롤바 크기 조정 */
.playlist::-webkit-scrollbar,
#my-music::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바 너비를 줄임 */
}

.playlist::-webkit-scrollbar-thumb,
#my-music::-webkit-scrollbar-thumb {
    background-color: #558ABF;
    border-radius: 10px;
}

.playlist::-webkit-scrollbar-track,
#my-music::-webkit-scrollbar-track {
    background-color: #E0E0E5;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.player audio {
    width: 100%;
    margin-top: 10px;
}

.player h2, .player p {
    margin: 10px 0;
    text-align: center;
}
